header {    
    background-color: #3f51b5;
    height: 5%;
    margin-bottom: 5%;
    width: 100%;
}

.example-container {
    align-items: center;
    display: flex;
    flex-direction: column;  
}

.example-container > * {
    width: 100%;
}

.invalido {
    color: #ff0000;
}

.example-card {
    max-width: 400px;
}
  
.example-form, 
.example-button-row button,
.example-button-row a {
    max-width: 500px;
    min-width: 150px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}

.example-button-row button,
.example-button-row a {
    margin-right: 80%;
}
  
mat-form-field {
    margin-right: 12px;
}